name: API tests

on:
  push:
    branches: [ "main" ]
  pull_request:
    branches: [ "main" ]

permissions:
  contents: read

jobs:
  api-tests:
    runs-on: ubuntu-latest
    env:
      BANK_APP_MF_URL: https://wl-test.mf.gov.pl/
      FLASK_ENV: test
    services:
      mongo:
        image: mongo:latest
        ports:
          - 27017:27017
        options: >-
          --health-cmd="mongosh --eval 'db.runCommand({ ping: 1 })'"
          --health-interval=10s
          --health-timeout=5s
          --health-retries=5

    steps:
    - name: Checkout repository
      uses: actions/checkout@v4

    - name: Set up Python 3.10
      uses: actions/setup-python@v3
      with:
        python-version: "3.10"

    - name: Install dependencies
      run: |
        python -m pip install --upgrade pip
        pip install pytest
        if [ -f requirements.txt ]; then pip install -r requirements.txt; fi

    - name: Start flask
      run: |
        export FLASK_APP=app.api
        export FLASK_ENV=development
        export PYTHONPATH=$GITHUB_WORKSPACE
        nohup flask run --host=0.0.0.0 --port=5000 &
        sleep 5

    - name: Execute API tests
      run: |
        python3 -m pytest tests/api